/**
  Шрифты.
 */

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/**
  Служебное.
 */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  Основное.
 */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;

  color: #333;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;

  background-color: #F2F2F2;
}

.container {
  width: 1200px;
  background-color: #FFF;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/**
  Header.
 */

.header-container {
  width: 1200px;
  height: 64px;
  display: flex;
  margin: 0 auto;
  padding: 0 70px;
}

.logo {
  z-index: 1;
}

.navigation {
  margin-left: 30px;
  margin-right: auto;

  align-self: center;
}

.navigation-list {
  margin: 0 0 0 30px;
  padding: 0;

  list-style: none;
  display: flex;
}

.navigation-item {
  padding: 0 16px;
}

.navigation-item, .navigation-item > a {
  color: #000;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.controls {
  margin-left: auto;
  display: flex;
}

.control-icon {
  display: block;
  width: 44px;
  height: 64px;
  padding: 22px 12px;
}

.control-search {
  background: url("../images/search.svg") no-repeat;
  background-size: 18px auto;
  background-position-x: 12px;
  background-position-y: 22px;
}

.control-favorites {
  background: url("../images/favorites.svg") no-repeat;
  background-size: 18px auto;
  background-position-x: 12px;
  background-position-y: 22px;
}

.control-want-here {
  display: block;

  margin-left: 20px;

  align-self: center;
  width: 160px;
  height: 36px;
  line-height: 36px;
  text-align: center;

  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: #756157;
  color: white;
}

/**
  Main.
 */

.main-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

/**
  Main Hero.
 */

.main-hero {
  min-height: 485px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #8997a3;
  background-image: url("../images/main-hero-divider.svg"), url("../images/main-hero-background.jpg");
  background-size: 1200px 57px, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.main-hero-welcome {
  margin-top: 51px;
}

/**
  Advantages.
 */

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages h2 {
  color: #000;
  text-transform: uppercase;

  margin-top: 69px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.advantages-description {
  margin-top: 25px;
}

.advantages-list {
  width: 1200px;
  margin: 90px 0 0 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  list-style: none;
}

.advantages-item-featured {
  width: 100%;

  display: flex;
  flex-direction: row;
}

.advantages-item-featured figure {
  width: 800px;
  min-height: 385px;
  margin: 0;
}

.advantages-item-featured img {
  display: block;
}

.advantages-featured-left {
  order: -1;
}

.advantages-tile {
  width: 400px;
  min-height: 385px;

  font-size: 18px;
  line-height: 21px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-tile h3 {
  color: #000;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-tile h3, .advantages-tile p {
  width: 230px;

  text-align: center;
}

.advantages-tile-featured, .advantages-tile-featured h3 {
  background-color: #82B3D3;
  color: white;
}

.advantages-tile-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-tile-normal {
  background-color: rgba(131, 179, 211, 0.20);
}

/**
  Services.
 */

.services {
  text-align: center;
}

.services h2 {
  color: #000;

  margin-top: 64px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.services-description {
  margin-top: 20px;
}

.services-list {
  margin: 64px 0 0 0;
  padding: 0;

  list-style: none;

  display: flex;
}

.services-item {
  width: 400px;
  min-height: 385px;

  margin: 0;
  padding: 80px 85px;

  font-size: 18px;
  line-height: 21px;

  box-sizing: border-box;
}

.services-item h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;

  margin-top: 102px;
  margin-bottom: 0;
}

.services-item p {
  margin-top: 30px;
}

.services-item-housing {
  background: rgba(131, 179, 211, 0.12) url("../images/services-housing.svg") no-repeat 50% 81px;
}

.services-item-food {
  background: url("../images/services-food.svg") no-repeat 50% 81px;
}

.services-item-souvenirs {
  background: rgba(131, 179, 211, 0.12) url("../images/services-souvenirs.svg") no-repeat 50% 81px;
}

/**
  Offer.
 */

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer h2 {
  margin-top: 96px;
  margin-bottom: 0;

  text-align: center;

  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.offer-description {
  width: 592px;

  margin-top: 20px;
  margin-bottom: 0;

  text-align: center;
}

.offer-search-btn {
  margin-top: 54px;
  display: inline-block;

  padding: 8px 50px;

  background-color: #756157;
  color: white;

  text-decoration: none;

  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;

  border-radius: 4px;
}

/**
  Subscription.
 */

.subscription {
  min-height: 414px;

  margin-top: 96px;
  padding: 0 32px 104px 32px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: url("../images/subscribe.jpg") no-repeat;
  background-size: 100% auto;
}

.subscription h2 {
  margin: 96px 0 0 0;

  color: white;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-description {
  margin: 20px 0 0 0;

  color: white;
}

.subscription-form {
  margin-top: 54px;
  width: 684px;
  height: 52px;
  display: flex;
  justify-content: space-between;
}

.email {
  padding: 12px 20px;

  height: 100%;
  flex-grow: 1;

  background-color: #F2F2F2;

  border: none;

  border-radius: 4px 0 0 4px;

  font-family: "PT Sans", 'serif';
  font-size: 18px;
  line-height: 24px;
}

.subscribe-btn {
  color: white;
  background-color: #82B3D3;

  border: none;

  padding: 8px 50px;

  border-radius: 0 4px 4px 0;

  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

/**
  Footer.
 */

.footer {
  width: 1200px;
  min-height: 120px;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
}

.phone {
  color: #000;

  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.social-list {
  margin: 0;
  padding: 0;

  display: flex;

  list-style: none;
}

.social-list a {
  padding: 10px;
}

/**
  Catalog (subpage).
**/

.catalog {
  background-color: white;
}

/**
  Hotel filters.
**/
.hotel-filters {
  background-color: #8997a3;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;

  padding: 35px 70px 70px 70px;
}

.hotel-filters h1 {
  margin: 0;

  color: white;
  font-family: "PT Sans", serif;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 8px 0;
  padding: 0;
  list-style-type: none;

  font-family: "PT Sans", serif;
  color: white;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs > a {
  color: white;
  text-decoration: none;
}

.breadcrumbs-item {
  display: inline-block;
}

.breadcrumbs-home > svg {
  fill: white;
}

.hotel-filter-controls {
  margin: 40px 0 0 0;
}

.hotel-filter-controls {
  display: flex;
  justify-content: space-between;
}

.hotel-filter-left-column {
  width: auto;
  display: flex;
}

.hotel-filter-right-column {
  width: auto;
  display: flex;
}

.hotel-filter-infrastructure,
.hotel-filter-housing-type,
.hotel-filter-price {
  border: none;
  padding: 0;
}

.hotel-filter-infrastructure legend,
.hotel-filter-housing-type legend,
.hotel-filter-price legend {
  color: white;
  font-family: "PT Sans", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.hotel-filter-infrastructure {
  margin: 0 70px 0 0;
  display: flex;
}

.hotel-filter-infrastructure ul,
.hotel-filter-housing-type ul {
  padding: 0;
  margin-top: 32px;
  list-style-type: none;
  color: white;
  font-family: "PT Sans", serif;
  font-size: 18px;
  line-height: 23px;
}

.hotel-filter-infrastructure ul > li,
.hotel-filter-housing-type ul > li {
  margin-bottom: 16px;
}

.hotel-filter-infrastructure ul > li:last-child,
.hotel-filter-housing-type ul > li:last-child {
  margin-bottom: 0;
}

.hotel-filter-housing-type {
  margin: 0;
  display: flex;
}

.hotel-filter-price {
  margin: 0 70px 0 0;
  display: flex;
  flex-direction: column;
}

.price-range {
  margin: 32px 0 0 0;
}

.price-range {
  display: flex;
  justify-content: stretch;
}

.price-min,
.price-max {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  border: none;

  font-family: "PT Sans", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.price-min {
  margin-right: 2px;
  border-radius: 4px 0 0 4px;
}

.price-max {
  border-radius: 0 4px 4px 0;
}

.hotel-filter-price-slider {
  margin: 36px 0 0 0;
}

.hotel-filter-buttons {
  margin: 56px 0 0 0;
  display: flex;
  flex-direction: column;
}

.hotel-filter-apply-btn,
.hotel-filter-reset-btn {
  border: none;
  color: white;
  font-family: "PT Sans", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.hotel-filter-apply-btn,
.hotel-filter-reset-btn {
  padding: 8px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.hotel-filter-apply-btn {
  background-color: #82B3D3;
}

.hotel-filter-reset-btn {
  margin-top: 32px;
  background: none;
}

/**
  Hotel cards.
 */
.hotel-cards {
  padding: 50px 70px 60px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hotel-cards-header {
  margin: 0;

  display: flex;
}

.hotel-cards-header h2 {
  margin: 0 auto 0 0;

  font-family: "PT Sans", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-sort-by {
  margin: 0 70px 0 0;
  width: 292px;
  height: 48px;
  padding: 14px 20px;

  font-family: "PT Sans", serif;
  font-size: 18px;
  line-height: 21px;
}

.hotel-display-mode {
  list-style-type: none;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
}

.hotel-display-mode li {
  width: 48px;
  height: 48px;
  margin: 0;
  border-radius: 4px;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.hotel-card-item {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hotel-card-title {
  margin: 0;
  font-family: "PT Sans", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.hotel-card-information {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-family: "PT Sans", serif;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-type {
  margin: 0 auto 0 0;
}

.hotel-card-price {
  margin: 0 0 0 auto;
}

.hotel-card-controls {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.hotel-card-details {
  margin: 0 auto 0 0;
  min-width: 140px;
  min-height: 36px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #756157;
  color: white;
  text-decoration: none;
  font-family: "PT Sans", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.hotel-card-favorites {
  margin: 0 0 0 auto;
  min-width: 140px;
  min-height: 36px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background: #82B3D3;
  color: white;
  text-decoration: none;
  font-family: "PT Sans", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.hotel-card-favorites-active {
  background-color: #7DB54F;
}

.hotel-card-ratings {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-card-stars {
  margin: 0 auto 0 0;
}

.hotel-card-rating {
  margin: 0 0 0 auto;
  min-width: 140px;
  min-height: 36px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #F2F2F2;
  color: #333;
  text-decoration: none;
  font-family: "PT Sans", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border-radius: 4px;
  color: #FFF;
  background-color: #82B3D3;
}

.pagination-item > a {
  text-decoration: none;
  color: #FFF;
}

.pagination-item-active {
  color: #000;
  background-color: #F2F2F2;
}

.pagination-item-active > a {
  color: #000;
}

.pagination-item-all {
  background-color: transparent;
}

.pagination-item-all > a {
  color: #000;
  font-weight: 400;
}

.separator-above {
  padding-top: 40px;
  border-top: 1px solid #E6E6E6;
}

/**
  Subscription.
 */
.subscription-inner {
  margin-top: 0px;
  text-align: center;
  background: white;
}

.subscription-inner h2, .subscription-description {
  color: black;
}
